.article {
    &__header {
        
    }
    &__banner {
        border: 10px solid $color-tertiary;
        img {
            width: 100%;
        }
    }
    &__title {
        margin-top: 0;
    }
}