.content-block {
    &__image {
        border: 10px solid $color-tertiary;
    }
    &__title {
        color: $color-secondary;

    }
    &__sub {
        display: block;
        color: $color-quaternary;
    }
}