.footer {
	background-color: $color-secondary;
	&__nav {
		@include until($tablet) {
			display: inline-flex !important;
			width: 49% !important;
			vertical-align: top;
		}
	}
	&__social {
		display: flex;
	}
	&__social-links {
		width: 3rem;
		height: 3rem;
		margin-left: 1rem;
	}
	&__container {
		align-items: center;
	}
	&__logo {
		@include until($tablet) {
			display: inline-flex !important;
			width: 49% !important;
		}
	}

	.menu {
		padding: 0;
	}
	.menu-header-container {
		display: flex;
	}
	
	.nav {
		@include from($tablet) {
			align-self: flex-end;
			margin-left: auto;
			margin-top: auto;
		  }
	}
	
	.menu-item {
		display: block;
		a {
			text-transform: uppercase;
			color: white;
			font-weight: 400;
		}
	}
	nav.header-blog {
		a {
			color: black;
		}
	}
}

.page-template-template-blog, .category, .single-post {
    .footer {
        background: $color-blog-primary;
    }
}