// =============================================================================
// Header
// =============================================================================

.header {
	top: 0;
	z-index: 10;
	@include from($tablet) {
		position: sticky;
	}
	&__wrap {
		background: $color-primary;
		padding: 8px;
		@include from($tablet) {
			padding: 24px;
		}
	}
	&__navWrap {
		margin-left: auto;
		@include until($tablet) {
			margin-left: 0;
			display: flex;
			flex-direction: column;
		}
	}
	.logo {
		display: none;
		@include from($tablet) {
			display: block;
			width: 100%;
		}
		&--blog {
			display: block;
			width: 50px;
			@include from($tablet) {
				width: 100%;
			}
		}

		&--mobile {
			display: block;
			width: 60%;
			@include from($tablet) {
				display: none;
			}
		}
	}
	&--blog {
		background: white;
		border-bottom: 2px solid $color-brown;
		margin-bottom: 5rem;
		padding: 24px;
		.header__nav {
			@include from($tablet) {
				margin-left: 2rem;
			}
			&--blog {
				@include until($tablet) {
					display: none;
				}
				&--active {
					display: block;
				}
			}
		}
		.menu {
			@include until($tablet) {
				display: flex;
				flex-direction: column;
				text-align: center;			
			}
		}
	}
	&__social {
		display: none;
		@include from($tablet) {
			display: flex;
			margin-left: auto;
		  }
		  &--mobile {
			display: flex;
			margin-left: auto;
			@include from($tablet) {
				display: none;
			}
		  }
	}
	&__social-links {
		width: 1.5rem;
		height: 1.5rem;
		margin-left: .5rem;
	}
	&__column {
		flex-direction: column;
		display: flex;
        justify-content: center;
        align-items: center;
	}
	&__back {
		margin-left: auto;
		font-size: 20px;
		text-transform: uppercase;
		color: lighten($color-brown, 30%);
		font-weight: 400;
		padding: 0 10px;
		@include until($tablet) {
			margin-left: 0;
			text-align: center;
		}
	}

	.menu {
		padding: 0;
	}
	.menu-header-container {
		display: flex;
	}
	
	.nav {
		@include from($tablet) {
			align-self: flex-end;
			margin-left: auto;
			margin-top: auto;
		  }
	}
	
	.menu-item {
		display: inline-block;
		a {
			font-size: 16px;
			text-transform: uppercase;
			color: white;
			font-weight: 400;
			padding: 0 4px;

			@include from($tablet) {
				padding: 0 10px;
				font-size: 20px;
			}
		}
	}
	&.header--blog {
		.menu-item {
			a {
				color: $color-brown;
			}
		}
	}

	&__burger {
		position: relative;
		display: block;
		width: 20px;
		height: 4px;
		background: #222;
		transition: all .2s ease-in-out;
		
		&:before, &:after {
		  position: absolute;
		  background: #222;
		  content: '';
		  width: 20px;
		  height: 4px;
		  transition: all .2s ease-in-out;
		}
		
		&:before {
		  top: -8px;
		}
		
		&:after {
		  top: 8px;
		}
	  }
	&__burgerWrap {
		display: flex;
		align-items: center;
		@include from($tablet) {
			display: none;
		}
	}
	
}

.blog-logo {
	margin-bottom: 5rem;
}
