.link-block {
    margin: 2rem auto 3rem;
    &__list {
        padding: 0;
    }
    &__item {
        
    }
    &__link {
        &:hover {
            .link-block__icon:first-of-type {
                display: none;
            }
            .link-block__icon--hover {
                display: block;
            }
        }
    }
    &__icon {
        &--hover {
            display: none;
        }
    }
}
.venue-link {
    margin-bottom: 80px;
    padding: 10px;
    min-height: 35vw;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-grow: 0;
        border: 10px solid $color-tertiary;
        padding: 20px;
        height: 100%;
        p {
            text-align: center;
        }
        p, h2 {
            color: white;
        }
    }
}