.message-block {
    background: white;
    width: 100%;
    text-align: center;
    padding: 0.6rem 0.5rem 0.4rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        @extend h5;
        line-height: 1;
        margin: 0;
        color: $color-secondary;
    }
    &__icon {
        width: 20px;
        height: 20px;
        margin-left: 1rem;
        margin-top: -4px;
    }

    &:hover {
        background: $color-tertiary;
        text-decoration: none;
        // .message-block__text {
        //     color: white;
        // }
    }
}