.spotlight {
    margin-bottom: 2rem;
    &:hover {
        text-decoration: none;
        .spotlight__title {
            color: $color-quaternary;
        }
        .spotlight__container {
            border-bottom: 2px solid $color-quaternary;
        }
    }
    &-list {
        margin-bottom: 60px;
    }
    &__container {
        padding-bottom: 1rem;
        border-bottom: 2px solid $color-primary;
        height: 100%;
    }
    &__img {
        height: 200px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__category {
        font-size: 1rem;
        color: $color-grey-dark;
        margin: 0;
        text-transform: uppercase;
    }
    &__title {
        margin: 1rem 0;
        font-size: 1.8rem;
    }
    &__author {
        font-size: 1rem;
        color: $color-grey-dark;
        margin: 0;
        text-transform: uppercase;
    }
}