// =============================================================================
// Generic
// =============================================================================

body {
	background-color: $body-background-color;
	color: $color-text-base;
	font-family: $font-family-body;
	font-size: fluid-type($body-size);
	font-weight: $font-weight-bold;
	line-height: $body-line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.gm-style img,
img[width],
img[height] {
	// max-width: none;
}
article {
	.gm-style img,
	img[width],
	img[height] {
		// max-width: none;
		border: 10px solid $color-tertiary;
		width: 110%;
		max-width: 110%;
		position: relative;
		left: -5%;
		@include until($tablet) {
			width: 100%;
			max-width: 100%;
			left: 0;
		}
	}
} 

.container {
	@include until($tablet) {
		padding: 0 1rem;
	}
}
